In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
tri = pd.read_csv('data/training_info.csv')
trs = pd.read_csv('data/training_set.csv')

In [5]:
print tri.columns
print tri.shape
tri.head()

Index([u'mid', u'date', u'body', u'recipients'], dtype='object')
(43613, 4)

,mid,date,body,recipients
0,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,robert.badeer@enron.com murray.o neil@enron.co...
1,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,kim.ward@enron.com robert.badeer@enron.com mur...
2,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,robert.badeer@enron.com john.massey@enron.com ...
3,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,robert.badeer@enron.com jeff.richter@enron.com
4,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,pgillman@schiffhardin.com kamarlantes@calpx.co...

In [6]:
print trs.columns
print trs.shape
trs.head()

Index([u'sender', u'mids'], dtype='object')
(125, 2)

,sender,mids
0,karen.buckley@enron.com,158713 158697 200301 158679 278595 298162 2002...
1,amr.ibrahim@enron.com,215241 3437 215640 3506 191790 3517 3520 3562 ...
2,andrea.ring@enron.com,270705 270706 270707 270708 270709 270710 2707...
3,sylvia.hu@enron.com,111444 111422 183084 111412 111347 110883 1105...
4,phillip.platter@enron.com,327074 327384 327385 264443 274124 274125 2741...

In [7]:
ti = pd.read_csv('data/test_info.csv')
ts = pd.read_csv('data/test_set.csv')

In [8]:
print len(trs['sender'].values)
print len(set(trs['sender'].values))

print len(ts['sender'].values)
print len(set(ts['sender'].values))

print(len(set(trs['sender'].values) - set(ts['sender'].values)))

125
125
125
125
0

In [9]:
n = len(tri)
send = np.empty(n, dtype='S40')
corr = {}
for a in trs.values:
    for b in a[1].split():
        corr[int(b)] = a[0]

vals = tri.values
for i in range(n):
    send[i] = corr[vals[i][0]]

In [10]:
tri.insert(0, 'sender', send)

In [11]:
tri.head()

,sender,mid,date,body,recipients
0,christian.yoder@enron.com,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,robert.badeer@enron.com murray.o neil@enron.co...
1,heather.dunton@enron.com,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,kim.ward@enron.com robert.badeer@enron.com mur...
2,janel.guerrero@enron.com,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,robert.badeer@enron.com john.massey@enron.com ...
3,tim.belden@enron.com,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,robert.badeer@enron.com jeff.richter@enron.com
4,christian.yoder@enron.com,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,pgillman@schiffhardin.com kamarlantes@calpx.co...

In [12]:
n = len(ti)
send = np.empty(n, dtype='S40')
corr = {}
for a in ts.values:
    for b in a[1].split():
        corr[int(b)] = a[0]

vals = ti.values
for i in range(n):
    send[i] = corr[vals[i][0]]

In [13]:
ti.insert(0, 'sender', send)

In [14]:
ti.head()

,sender,mid,date,body
0,lorna.brennan@enron.com,1577,2001-11-19 06:59:51,Note: Stocks of heating oil are very high for...
1,julie.armstrong@enron.com,1750,2002-03-05 08:46:57,"Kevin Hyatt and I are going for ""sghetti"" at S..."
2,julie.armstrong@enron.com,1916,2002-02-13 14:17:39,This was forwarded to me and it is funny. - Wi...
3,julie.armstrong@enron.com,2094,2002-01-22 11:33:56,I will be in to and happy to assist too. I ma...
4,julie.armstrong@enron.com,2205,2002-01-11 07:12:19,Thanks. I needed a morning chuckle.

In [15]:
address_ids = dict(zip(list(set(ti['sender'].values)), range(125)))

vals = ti.values
idc = np.zeros(len(ti), dtype=int)
for i in range(len(ti)):
    idc[i] = address_ids[vals[i][0]]
    
vals = tri.values
idc2 = np.zeros(len(tri), dtype=int)
for i in range(len(tri)):
     idc2[i] = address_ids[vals[i][0]]
        
tri.insert(1, 'sender_id', idc2)
ti.insert(1, 'sender_id', idc)

In [16]:
cur = 125
for x in tri.values:
    s = x[5]
    for e in s.split():
        if not e in address_ids and '@' in e:
            address_ids[e] = cur
            cur += 1

In [17]:
cur

9783

In [22]:
idc = []
recipients = []
vals = tri.values
for i in range(len(tri)):
    a = []
    r = []
    for e in vals[i][5].split():
        if '@' in e:
            r.append(e)
    idc.append(a)

AttributeError: 'list' object has no attribute 'split'

In [19]:
tri.insert(5, 'recipient_id', pd.Series(idc, dtype=list))

In [20]:
tri.head()

,sender,sender_id,mid,date,body,recipient_id,recipients
0,christian.yoder@enron.com,104,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,"[125, 126, 117, 127, 128, 129, 130, 131]",robert.badeer@enron.com murray.o neil@enron.co...
1,heather.dunton@enron.com,113,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,"[50, 125, 126, 132, 28, 117, 133, 134, 135, 13...",kim.ward@enron.com robert.badeer@enron.com mur...
2,janel.guerrero@enron.com,49,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,"[125, 145, 146]",robert.badeer@enron.com john.massey@enron.com ...
3,tim.belden@enron.com,117,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,"[125, 129]",robert.badeer@enron.com jeff.richter@enron.com
4,christian.yoder@enron.com,104,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,"[147, 148, 125, 149]",pgillman@schiffhardin.com kamarlantes@calpx.co...

In [21]:
tri.to_csv('data/train.csv')
ti.to_csv('data/test.csv')

In [80]:
sender_address = set(tri['sender'].values)

In [81]:
recipient_address = set()
for x in tri.values:
    s = x[6]
    for e in s.split():
        recipient_address.add(e)

In [82]:
len(recipient_address)

9870

In [83]:
len(recipient_address) + len(sender_address)

9995

In [84]:
sender_address - recipient_address.intersection(sender_address)

{'c..giron@enron.com',
 'paul.y barbo@enron.com',
 'schwabalerts.marketupdates@schwab.com',
 'wsmith@wordsmith.org'}

In [1]:
import pandas as pd
df = pd.read_csv('data/train.csv')
X = df.values

In [2]:
df.head()

,sender,sender_id,mid,date,body,recipient_id,recipients
0,christian.yoder@enron.com,104,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,"[125, 126, 127, 117, 128, 129, 130, 131, 132]",robert.badeer@enron.com murray.o neil@enron.co...
1,heather.dunton@enron.com,113,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,"[50, 125, 126, 127, 133, 28, 117, 134, 135, 13...",kim.ward@enron.com robert.badeer@enron.com mur...
2,janel.guerrero@enron.com,49,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,"[125, 146, 147]",robert.badeer@enron.com john.massey@enron.com ...
3,tim.belden@enron.com,117,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,"[125, 130]",robert.badeer@enron.com jeff.richter@enron.com
4,christian.yoder@enron.com,104,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,"[148, 149, 125, 150]",pgillman@schiffhardin.com kamarlantes@calpx.co...

In [3]:
for i in range(len(X)):
    if(X[i][3][0] == '0'):
        X[i][3] = '2'+X[i][3][1:]

In [4]:
pd.DataFrame(data=X, columns=df.columns).to_csv('data/train.csv')

In [10]:
import pandas as pd
df = pd.read_csv('data/test.csv')
X = df.values

In [12]:
df.sort_values('date').head()

,sender,sender_id,mid,date,body
1739,jonathan.mckay@enron.com,90,284098,2001-11-02 05:25:29,"How is everyone.....mother, child.........fath..."
1598,dutch.quigley@enron.com,1,272008,2001-11-02 05:34:55,-----Original Message-----From: \tWesner-Soon...
343,james.d.steffes@enron.com,66,49273,2001-11-02 05:57:55,Janine -Ok for you to cover the whole country....
494,kim.ward@enron.com,50,71901,2001-11-02 06:10:47,when?
562,barry.tycholiz@enron.com,121,82354,2001-11-02 06:17:44,WOW.... I am positive that your beautiful wife...

In [53]:
from ast import literal_eval

df = pd.read_csv('data/train.csv')
df['recipient_id'] = df['recipient_id'].apply(literal_eval)
vals = df.values

In [54]:
vals[0][6]

'robert.badeer@enron.com murray.o neil@enron.com tim.belden@enron.com elizabeth.sager@enron.com carla.hoffman@enron.com jeff.richter@enron.com chris.stokley@enron.com valarie.sabo@enron.com'

In [55]:
for i in range(len(vals)):
    r = []
    for s in vals[i][6].split():
        if '@' in s:
            r.append(s)
    vals[i][6] = ' '.join(r)

In [56]:
df['recipients'] = vals[:, 6]

In [57]:
df.head()

,sender,sender_id,mid,date,body,recipient_id,recipients
0,christian.yoder@enron.com,104,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,"[125, 126, 117, 127, 128, 129, 130, 131]",robert.badeer@enron.com neil@enron.com tim.bel...
1,heather.dunton@enron.com,113,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,"[50, 125, 126, 132, 28, 117, 133, 134, 135, 13...",kim.ward@enron.com robert.badeer@enron.com nei...
2,janel.guerrero@enron.com,49,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,"[125, 145, 146]",robert.badeer@enron.com john.massey@enron.com ...
3,tim.belden@enron.com,117,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,"[125, 129]",robert.badeer@enron.com jeff.richter@enron.com
4,christian.yoder@enron.com,104,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,"[147, 148, 125, 149]",pgillman@schiffhardin.com kamarlantes@calpx.co...

In [58]:
df.to_csv('data/train.csv')