In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [60]:
tri = pd.read_csv('data/training_info.csv')
trs = pd.read_csv('data/training_set.csv')

In [61]:
print tri.columns
print tri.shape
tri.head()

Index([u'mid', u'date', u'body', u'recipients'], dtype='object')
(43613, 4)

,mid,date,body,recipients
0,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,robert.badeer@enron.com murray.o neil@enron.co...
1,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,kim.ward@enron.com robert.badeer@enron.com mur...
2,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,robert.badeer@enron.com john.massey@enron.com ...
3,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,robert.badeer@enron.com jeff.richter@enron.com
4,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,pgillman@schiffhardin.com kamarlantes@calpx.co...

In [62]:
print trs.columns
print trs.shape
trs.head()

Index([u'sender', u'mids'], dtype='object')
(125, 2)

,sender,mids
0,karen.buckley@enron.com,158713 158697 200301 158679 278595 298162 2002...
1,amr.ibrahim@enron.com,215241 3437 215640 3506 191790 3517 3520 3562 ...
2,andrea.ring@enron.com,270705 270706 270707 270708 270709 270710 2707...
3,sylvia.hu@enron.com,111444 111422 183084 111412 111347 110883 1105...
4,phillip.platter@enron.com,327074 327384 327385 264443 274124 274125 2741...

In [63]:
ti = pd.read_csv('data/test_info.csv')
ts = pd.read_csv('data/test_set.csv')

In [64]:
print len(trs['sender'].values)
print len(set(trs['sender'].values))

print len(ts['sender'].values)
print len(set(ts['sender'].values))

print(len(set(trs['sender'].values) - set(ts['sender'].values)))

125
125
125
125
0

In [65]:
n = len(tri)
send = np.empty(n, dtype='S40')
corr = {}
for a in trs.values:
    for b in a[1].split():
        corr[int(b)] = a[0]

vals = tri.values
for i in range(n):
    send[i] = corr[vals[i][0]]

In [66]:
tri.insert(0, 'sender', send)

In [67]:
tri.head()

,sender,mid,date,body,recipients
0,christian.yoder@enron.com,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,robert.badeer@enron.com murray.o neil@enron.co...
1,heather.dunton@enron.com,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,kim.ward@enron.com robert.badeer@enron.com mur...
2,janel.guerrero@enron.com,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,robert.badeer@enron.com john.massey@enron.com ...
3,tim.belden@enron.com,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,robert.badeer@enron.com jeff.richter@enron.com
4,christian.yoder@enron.com,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,pgillman@schiffhardin.com kamarlantes@calpx.co...

In [68]:
n = len(ti)
send = np.empty(n, dtype='S40')
corr = {}
for a in ts.values:
    for b in a[1].split():
        corr[int(b)] = a[0]

vals = ti.values
for i in range(n):
    send[i] = corr[vals[i][0]]

In [69]:
ti.insert(0, 'sender', send)

In [70]:
ti.head()

,sender,mid,date,body
0,lorna.brennan@enron.com,1577,2001-11-19 06:59:51,Note: Stocks of heating oil are very high for...
1,julie.armstrong@enron.com,1750,2002-03-05 08:46:57,"Kevin Hyatt and I are going for ""sghetti"" at S..."
2,julie.armstrong@enron.com,1916,2002-02-13 14:17:39,This was forwarded to me and it is funny. - Wi...
3,julie.armstrong@enron.com,2094,2002-01-22 11:33:56,I will be in to and happy to assist too. I ma...
4,julie.armstrong@enron.com,2205,2002-01-11 07:12:19,Thanks. I needed a morning chuckle.

In [71]:
address_ids = dict(zip(list(set(ti['sender'].values)), range(125)))

vals = ti.values
idc = np.zeros(len(ti), dtype=int)
for i in range(len(ti)):
    idc[i] = address_ids[vals[i][0]]
    
vals = tri.values
idc2 = np.zeros(len(tri), dtype=int)
for i in range(len(tri)):
     idc2[i] = address_ids[vals[i][0]]
        
tri.insert(1, 'sender_id', idc2)
ti.insert(1, 'sender_id', idc)

In [72]:
cur = 125
for x in tri.values:
    s = x[5]
    for e in s.split():
        if not e in address_ids:
            address_ids[e] = cur
            cur += 1

In [73]:
cur

9874

In [74]:
idc = []
vals = tri.values
for i in range(len(tri)):
    a = []
    for e in vals[i][5].split():
        a.append(address_ids[e])
    idc.append(a)

In [75]:
tri.insert(5, 'recipient_id', pd.Series(idc, dtype=list))

In [76]:
tri.head()

,sender,sender_id,mid,date,body,recipient_id,recipients
0,christian.yoder@enron.com,104,60,2000-07-25 08:14:00,Legal has been assessing the risks of doing bl...,"[125, 126, 127, 117, 128, 129, 130, 131, 132]",robert.badeer@enron.com murray.o neil@enron.co...
1,heather.dunton@enron.com,113,66,2000-08-03 02:56:00,Attached is a spreadsheet to estimate export f...,"[50, 125, 126, 127, 133, 28, 117, 134, 135, 13...",kim.ward@enron.com robert.badeer@enron.com mur...
2,janel.guerrero@enron.com,49,74,2000-08-15 05:37:00,Kevin/Bob: Here is a quick rundown on the cons...,"[125, 146, 147]",robert.badeer@enron.com john.massey@enron.com ...
3,tim.belden@enron.com,117,80,2000-08-20 14:12:00,check this out and let everyone know what s up...,"[125, 130]",robert.badeer@enron.com jeff.richter@enron.com
4,christian.yoder@enron.com,104,83,2000-08-22 08:17:00,Further to your letter to us (addressed to Mr....,"[148, 149, 125, 150]",pgillman@schiffhardin.com kamarlantes@calpx.co...

In [79]:
tri.to_csv('data/train.csv')
ti.to_csv('data/test.csv')

In [80]:
sender_address = set(tri['sender'].values)

In [81]:
recipient_address = set()
for x in tri.values:
    s = x[6]
    for e in s.split():
        recipient_address.add(e)

In [82]:
len(recipient_address)

9870

In [83]:
len(recipient_address) + len(sender_address)

9995

In [84]:
sender_address - recipient_address.intersection(sender_address)

{'c..giron@enron.com',
 'paul.y barbo@enron.com',
 'schwabalerts.marketupdates@schwab.com',
 'wsmith@wordsmith.org'}